LFSPkgBuildScripts/.svn
LFSScripts/.svn
*.BAK
grub.cfg
SystemData.local
LFSPkg.zip
LFSPkg-master
wget-list*
LFSPkgBuildScripts/kernel/config-*
regexes
LFSScripts/blfs-bootscripts-*
LFSPkgBuildScripts/HelperScripts/blfs-bootscripts-*
LFSPkgBuildScripts/system/system-meta/system-meta.LFSBuild
LFSPkgBuildScripts/kernel/config*
