[Desktop Entry]
Type=Application
Name=SimulIDE
GenericName=Electronic circuit simulator
Comment=Electronic Circuit Simulator Software
Exec=/opt/SimulIDE_1.1.0-SR0/simulide
Icon=simulide.png
Terminal=false
Categories=Development;Engineering;Electronics;EDA;
StartupNotify=true
